 body{font-family: arial, sans-serif;
        margin-left:5%;
        margin-right:5%;}
  div{float: right;}
        @media screen and (max-width: 600px) {
  body {
    background-color: pink;
  }
  @media (max-width:40%){.row,.navbar{flex-direction:colume;}}
        img{float:right;margin:0 30% 2% 30%}
        @media print {body {background-color:hotpink;}h3{ color:SeaGreen;}p{color:SteelBlue;}}
        #container{margin-top:30%;}
        textarea{resize: none;}
        .content{font-weight: bolder;
          color:black;
          margin-left: 50%;
          padding: .1m;
          margin-bottom: 0.2em;
          width: 50%;}
          .headline{margin-right: 50%;}

          .groove{border-style: groove;
            block-size: 2em}